.App {
	text-align: center;
	background-color: rgb(17, 17, 17);
	height: 100%;
	color:white;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}



/* .copy {
	height: fit-content;
	text-align: center;
	transform: scale(1);
	color: #ffee33;
	transition: transform 200ms ease-in-out;
} */
.deleteIcon {
	text-align: center;
	cursor: pointer;
	transform: scale(1);
	transition: transform 200ms ease-in-out;
}
/* .deleteIcon:hover,.copy:hover {
	transform: scale(1.15);
} */
.addLinkContainer {
	display: flex;
	justify-content: space-between;
	/* max-width: 300px; */
	width: 100%;
	margin: 0 auto;
	align-items: center;
}
.addLinkContainer > button {
	padding: 0.5em 1em;
	height: fit-content;
	margin: 0 1em;
}
.addIcon
{
	box-sizing: content-box;
	padding: 10px;
}
.addIcon:hover
{
	transform: scale(1.15);
}
.loader {
	margin: 0;
}

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

input {
	color: white;
}
